/* navbar.css */

.navbar-container {
    background-color: #629461; /* Main navbar background color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    height: fit-content;
}

.navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.navbar-container ul li {
    display: inline;
    margin: auto;
    margin-right: 3%;
    font-size: 18px;
}

.navbar-container ul li a {
    color: #FFDACA; /* Navbar link color */
    text-decoration: none;
    padding-left: 1%;
    
}

.search-container {
    float: right; /* Align search container to the right */
}

.search-container input[type=text] {
    background-color: #4A9448;
    padding: 6px;
    margin-top: 8px;
    font-size: 16px;
    color: #FFDACA;
    border: none !important;
}

.search-container button {
    float: left; /* Align button to the left */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 6px;
    background: transparent; /* Set background to transparent */
    border: none;
    cursor: pointer;
}

.search-container {
    background-color: #3d9352; /* Set background color for search container */
    border-left: 1px solid #FFDACA;
    margin:auto;
}

.search-container input[type=text]:focus {
    border: none;
    border-bottom: 1px solid #FFDACA;
    outline: none;
}
