/* navbar.css */

.navbar-container {
    background-color: #629461; /* Main navbar background color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between; /* To space items on the left and right */
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-items-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-items-left li {
    margin-right: 20px;
}

.navbar-items-left li:last-child {
    margin-right: 0; /* Remove margin for last item */
}

.navbar-items-left li a {
    color: #FFDACA; /* Navbar link color */
    text-decoration: none;
}

.navbar-items-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-items-right li {
    margin-left: 20px;
}

.navbar-items-right li:first-child {
    margin-left: 0; /* Remove margin for first item */
}

.navbar-items-right li a {
    color: #FFDACA; /* Navbar link color */
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    background-color: #629461;
    padding: 6px;
    font-size: 16px;
    color: #FFDACA;
    border: none;
    outline: none;
}

.search-container button {
    padding: 6px 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-container button:focus {
    outline: none;
}

/* Dropdown Menu Styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below parent */
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px; /* Adjust width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-container ul li:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content ul li {
    padding: 10px;
}

.dropdown-content ul li a {
    color: #000;
    text-decoration: none;
}

.social-icons {
    display: flex;
    align-items: center;
    padding-top: 6px;
}

.social-icons a {
    margin-right: 20px;
    color: #FFDACA; /* Social icon color */
    text-decoration: none; /* Remove default underline */
}

.social-icons a:hover {
    text-decoration: none; /* Remove underline on hover */
}

.social-icons a:visited {
    color: #FFDACA; /* Prevent visited links from turning purple */
}

.slashes {
    color: #FFDACA;
}

img {
    margin-top: 6px;    
}